.navbar {
	position:relative;
	width:100%;
	top:0;
	display:fixed;
}
.navbar ul {
	list-style:none;
	margin:0;
	padding:0;
}
.navbar ul li {
	display:inline;
	font-size:16px;
	padding:10px;
	overflow:hidden;
}
.left {
	float:left;
}
.right {
	float:right;
}
.s_in {
	background-color:#5490F2;
	color:#FFFFFF;
	border-radius:5px;
}
#body {
	margin-left:20px;
}
#body img {
	margin-top:80px;
	margin-left:350px;
	margin-right:100px;
}
.resizedTextbox {
	width:496px;
	height:30px;
	margin-left:347px;
	font-size:18px;
	background-image:url(../photos-folder/googlemic.png);
	background-repeat:no-repeat;
	background-size:29px;
	background-position:right;
}
.r_button, .l_button {
	height:40px;
	margin-top:25px;
	font-size:14px;
}
.l_button {
	margin-left:480px;
}
.r_button {
	margin-left:10px;
}
#body p {
	margin-left:465px;
}
#bot_nav {
	width:100%;
	background-color:#BDBEC1;
	position:fixed;
	height:35px;
	bottom:1px;
}
#bot_nav ul {
	list-style:none;
	margin-left:-25px;
}
#bot_nav div ul {
	margin-right:15px;
}
.bot_nav,.bot_nav2 {
	padding:10px;
	font-size:18px;
	margin-top:-15px;
}
.bot_nav {
	float:left;
}
.bot_nav2 {
	float:right;
}
a:link {
	text-decoration:none;
	color:#4D4B4B;
}
a:visited {
	text-decoration:none;
	color:#4D4B4B;
}
a:hover {
	text-decoration:underline;
	color:#4D4B4B;
}